{{ $section := .section }}
<section id="{{ $section.section_id }}" class="block posts-block bg-{{ $section.background }} outer">
  <div class="block-header inner-small">
    {{ if $section.title }}
    <h2 class="block-title">{{ $section.title }}</h2>
    {{ end }}
    {{ if $section.subtitle }}
    <p class="block-subtitle">
      {{ $section.subtitle | safeHTML }}
    </p>
    {{ end }}
  </div>
  <div class="inner">
    <div class="grid post-feed">
      {{ $display_posts := ((.Site.GetPage "section" "/blog").Pages).ByDate.Reverse }}
      {{ $recent_posts := $display_posts | first 3 }}
      {{ range $post := $recent_posts }}
      <article class="cell post">
        <div class="card">
          {{ if $post.Params.thumb_image }}
          <a class="post-thumbnail" href="{{ $post.URL }}">
            <img src="{{ $post.Params.thumb_image | relURL }}" alt="{{ $post.Params.thumb_image_alt }}" />
          </a>
          {{ end }}
          <div class="post-body">
            <header class="post-header">
              <h3 class="post-title"><a href="{{ $post.URL }}">{{ $post.Params.title }}</a></h3>
            </header>
            <div class="post-excerpt">
              <p>{{ $post.Params.excerpt }}</p>
            </div>
            {{ $include_dict := dict "page" $post "date_type" "short" }}
            {{ partial "blog_post_footer.html" $include_dict }}
          </div>
        </div>
      </article>
      {{ end }}
    </div>
  </div>
</section><!-- .block -->
