{{ $section := .section }}
<section id="{{ $section.section_id }}" class="block features-block bg-{{ $section.background }} outer">
  <div class="block-header inner-small">
    {{ if $section.title }}
    <h2 class="block-title">{{ $section.title }}</h2>
    {{ end }}
    {{ if $section.subtitle }}
    <p class="block-subtitle">
      {{ $section.subtitle | safeHTML }}
    </p>
    {{ end }}
  </div>
  {{ if $section.features }}
  <div class="inner">
    {{ range $feature := $section.features }}
    <div class="block-item">
      <div class="grid">
        {{ if $feature.image }}
        <div class="cell block-preview">
          <img src="{{ $feature.image | relURL }}" alt="{{ $feature.image_alt }}" />
        </div>
        {{ end }}
        <div class="cell block-content">
          <h3 class="block-title underline">{{ $feature.title }}</h3>
          <div class="block-copy">
            {{ partial "markdownify-block" $feature.content }}
          </div>
          {{ if $feature.actions }}
          <div class="block-buttons">
            {{ $include_dict := dict "actions" $feature.actions }}
            {{ partial "cta_buttons.html" $include_dict }}
          </div>
          {{ end }}
        </div>
      </div>
    </div>
    {{ end }}
    </div>
  {{ end }}
</section><!-- .block -->
